site_name: Fast Connect Credential Insertion API for Citrix Receiver for Linux 13.10
site_description: Fast Connect Credential Insertion API for Citrix Receiver for Linux 13.10
site_title: Developer Docs
site_url: https://developer-docs.citrix.com

# Copyright
copyright: 'Copyright &copy; 1999-2019 Citrix Systems, Inc. All rights reserved. '

extra_css:
  - 'assets/stylesheets/extra.css'

# Configuration
theme:
  name: null
  custom_dir: devdocs-theme

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  feature:
    tabs: false
  palette:
    primary: white
    accent: blue
  font: false
  favicon: /media/favicon.ico
  logo: https://developer-docs.citrix.com/_static/Citrix_Logo_Black.png

# Customization
extra:
  social:
    - type: youtube
      link: https://www.youtube.com/channel/UCiOupk9QF6jdk3EDKTHDykA
    - type: github-alt
      link: https://github.com/citrix
    - type: twitter
      link: https://twitter.com/citrixdeveloper
    - type: linkedin
      link: https://www.linkedin.com/company/citrix/

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - footnotes
  - meta
  - extra

# Page tree
nav:

- Home: index.md
- Setting up your environment: setting-up-your-environment.md
- API functions: api-functions.md
- API examples: api-examples.md
- Credential comparison rules: credential-comparison-rules.md
- Questions?: https://discussions.citrix.com/forum/1385-citrix-developer-exchange/